<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.0.0/css/fixedHeader.dataTables.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.0.0/js/dataTables.fixedHeader.min.js"></script>
</head>
<body>
    <img src="/static/images/rhino-icon.png" style="float: left;width: 40px; height: 40px; margin-right: 10px;"><H1 style="line-height: 40px;">RhinoStats</H1>
    <div class="test">
        <label for="clanTab" style="float: left; background-color: #ff6a00; margin-right: 5px; border-radius: 3px;
        text-align: center; line-height: 30px;">Clan</label>
    </div>
    <form action="/search_clan" method="post" style="max-width: 500px">
        <div class="input-group">
            <input class="dk" id="searchbox" type="text" placeholder="Tag or Name" name="search" value="" maxlength="30">
            <span><button class="dk"><i class="fa fa-search fa-lg"></i></button></span>
        </div>
    </form>
    <img src="{{ clan_details['emblems']['x64']['wot'] }}"  style="float: right">
    </a>
    <h1>[{{ clan_details['clan_tag'] }}] {{ clan_details['clan_name'] }}</h1>
    <a href="/csv/{{ clan_details['clan_id'] }}"><img src="/static/images/download-csv-icon.gif" style="float: right"/></a>
    <h1>Clan Stats - Stronghold Resources And More</h1>
    <h2>Clan Members</h2>
    <table id="player_stats" class="rowtable"  cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Total Resources</th>
                <th>7D Resources</th>
                <th>30D Resources</th>
                <th>30D Skirmishes</th>
                <th>30D Stronghold</th>
                <th>30D CW</th>
                <th>30D All</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players_data %}
            <tr>
                <!--<td>{{ player.account_name}}</td>-->
                <td>1</td>
                <td><a href="http://es.wot-life.com/eu/player/{{ player.account_name }}-{{ player.account_id }}" target="_blank">{{ player.account_name}}</a></td>
                <td class="text-center wn {{  player.total_resources_earned_rate }} datacol" >{{ player.total_resources_earned }}</td>
                <td class="text-center wn {{  player.seven_day_resources_earned_rate }} datacol">{{ player.seven_day_resources_earned }}</td>
                <td class="text-center wn {{  player.thirty_day_resources_earned_rate }} datacol" style="width: 90px">{{ player.thirty_day_resources_earned }}</td>
                <td class="text-center datacol" >{{ player.thirty_day_skirmish_battles }}</td>
                <td class="text-center datacol" >{{ player.thirty_day_defense_battles }}</td>
                <td class="text-center datacol" >{{ player.thirty_day_clan_battles }}</td>
                <td class="text-center datacol" >{{ player.thirty_day_all_battles }}</td>
                <td class="text-center" style="width:150px">{{ player.last_update }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script language="JavaScript">
        $(document).ready(function() {
            var t = $('#player_stats').DataTable({
                "responsive": true,
                "autoWidth": true,
                "paging": false,
                "searching": false,
                "info": false,
                "columnDefs":[
                    {"orderable": false, "targets": [0]},
                    {"orderSequence": ["desc", "asc"], "targets": [1,2,3,4,5]}
                ],
                "order": [[4, 'desc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
                });
            }).draw();
        } );
    </script>
</body>

</html>